# Auto-detect text files and perform LF normalization
* text=auto

# Set specific line endings
*.sh text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.json text eol=lf

# Treat image files as binary
*.png binary
*.jpg binary
*.jpeg binary